doctype html
head
meta(charset='utf-8')
link(rel='stylesheet', href='./css/main.css')
link(rel='stylesheet', href='./css/vendor.css')
meta(charset='utf-8',name='viewport', content='width=device-width')
title Testing


body
  .container
    #info
    #search
    #chart
    #meta
  script(src='./js/bower_components.js')
  script(src='./js/index.js')
  script $( function() { App.start() })

